<!DOCTYPE html>
<html ng-app="store">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<link rel="stylesheet"
	href="/webjars/bootstrap/3.3.6/dist/css/bootstrap.min.css">

<script src="/webjars/angular/1.5.0-rc.0/angular.min.js"></script>
<script src="/webjars/angular-route/1.5.0-rc.0/angular-route.min.js"></script>

<script>

</script>
<script src="js/controllers/store.js"></script>
<script src="js/filters/customFilters.js"></script>
<script src="js/controllers/productListControllers.js"></script>
</head>
<body ng-controller="storeCtrl">

	<div class="navbar navbar-inverse">
		<a class="navbar-brand" href="#">STORE</a>
	</div>

	<div class="panel panel-default row" ng-controller="productListCtrl">
		<div class="col-xs-3">
			<a ng-click="selectCategory()"
				class="btn btn-block btn-default btn-lg">Home</a>
			<a ng-repeat="item in data.products | orderBy:'category' | unique:'category' "
				ng-click="selectCategory(item)" class="btn btn-block btn-default btn-lg"
				ng-class="getCategoryClass(item)"> {{item}} </a>
		</div>
		<div class="col-xs-8">
			<div class="well" ng-repeat="item in data.products | filter:categoryFilterFn | range:selectedPage:pageSize">
				<h3>
					<strong>{{item.name}}</strong> <span
						class="pull-right label label-primary"> {{item.price |
						currency}} </span>
				</h3>
				<span class="lead">{{item.description}}</span>
			</div>
			<div class="pull-right btn-group">
                <a ng-repeat="page in data.products | filter:categoryFilterFn | pageCount:pageSize"
                   ng-click="selectPage($index + 1)" class="btn btn-default"
                   ng-class="getPageClass($index + 1)">
                    {{$index + 1}}
                </a>
            </div>
		</div>
	</div>
</body>
</html>